{% extends "layout.html" %}

{% block content %}
<div id="map-container" class="container-fluid p-0">
    <div id="mapid" class="position-relative" style="height: 100vh; width: 100vw;"></div>
    <div id="location-info" class="position-absolute bottom-0 start-50 translate-middle-x p-3 bg-dark text-white rounded shadow-lg opacity-0 transition-opacity">
        Localisation trouvée: <span id="location-text"></span>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
function map() {
    const myMap = L.map("mapid", {
        center: [18.094516443901764, -15.977817993728276],
        zoom: 13,
        layers: [
            L.tileLayer("https://maps.geoapify.com/v1/tile/dark-matter-yellow-roads/{z}/{x}/{y}.png?apiKey=a2faa87e609c42c6ada240cc5515642d", {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }),
        ]
    });

    let marker;
    const locationInfo = document.getElementById("location-info");
    const locationText = document.getElementById("location-text");

    function updateLocation(position) {
        const { latitude, longitude } = position.coords;
        console.log(latitude);
        console.log(longitude);

        locationText.innerText = `Latitude: ${latitude}, Longitude: ${longitude}`;
        locationInfo.classList.add("opacity-100");

        if (!marker) {
            marker = L.marker([latitude, longitude]).addTo(myMap);
        } else {
            marker.setLatLng([latitude, longitude]);
        }

        // Hide location info after 3 seconds
        setTimeout(() => {
            locationInfo.classList.remove("opacity-100");
        }, 3000);
    }

    myMap.locate({ setView: true, maxZoom: 16 }).on('locationfound', (e) => {
        var radius = e.accuracy;

        L.circle(e.latlng, radius).addTo(myMap);
        // Update location when location found
        updateLocation(e);
    }).on("locationerror", (e) => {
        alert(e.message);
    });

    // Update location continuously using watchPosition()
    navigator.geolocation.watchPosition((position) => {
        updateLocation(position);
    }, (error) => {
        console.error('Error getting geolocation:', error);
    }, {
        enableHighAccuracy : true, 
        timeout : 1000, 
        maximumAge : 0
    });
}
document.addEventListener('DOMContentLoaded', map);
</script>
{% endblock scripts %}
