

  {% extends "layoyt.html" %}
  {% block content %}
  <style>
    /* Add your custom CSS styles here */
    body {
      background-color: #1f1f3d; /* Dark blueish background color */
      color: #fff; /* White text color */
      
    }
    h1{
        text-align: center;
    }

    .navbar {
      background-color: #343a40; /* Dark blueish navbar background color */
    }

    .navbar-brand img {
      height: 40px; /* Adjust the height of the logo as needed */
    }

    .btn-primary {
      background-color: #ffc107; /* Dark blueish button color */
      border-color: #ffc107;
    }

    .btn-primary:hover {
      background-color: #ffc107; /* Darker shade on hover */
      border-color: #ffc107;
    }

    .input-group-text {
      background-color: #343a40; /* Dark blueish input group color */
      color: #fff; /* White text color */
      border-color: #343a40;
    }

    .form-control {
      background-color: #343a40; /* Dark blueish input field color */
      color: #fff; /* White text color */
      border-color: #343a40;
    }

    .form-control:focus {
      background-color: #343a40; /* Dark blueish input field color on focus */
      color: #fff; /* White text color on focus */
      border-color: #343a40;
      box-shadow: 0 0 0 0.25rem rgba(100, 40, 242, 0.25); /* Dark blueish shadow on focus */
    }

    .list-group-item {
      background-color: #343a40; /* Dark blueish list item background color */
      color: #fff; /* White text color */
      border-color: #343a40;
    }

    .list-group-item:hover {
      background-color: #3f444a; /* Darker shade on hover */
    }

    .btn-warning {
      background-color: #f8d7da; /* Secondary warning button color */
      border-color: #f8d7da;
      color: #721c24; /* Text color for warning button */
    }

    .btn-warning:hover {
      background-color: #f4c2c7; /* Darker shade on hover for warning button */
      border-color: #f4c2c7;
    }
  </style>
  

<div class="container">
  <h1>Locate Nearby Assistance Services</h1>
  <form method="post" action="{% url 'incident' %}">
      {% csrf_token %}
      <div class="mb-3">
          <label for="incident_type" class="form-label">Incident Type</label>
          <input type="text" class="form-control" id="incident_type" name="incident_type">
      </div>
      <div class="mb-3">
          <label for="location" class="form-label">Enter location</label>
          <input type="text" class="form-control" id="location" name="location">
      </div>
      <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
  {% endblock content %}
