{% extends "layout.html" %}

{% block content %}
<style>
body {
  background-color: #1f1f3d; /* Dark blueish background color */
  color: #fff; /* White text color */
  font-family: Arial, sans-serif; /* Police de caractères */
}

.container {
  max-width: 400px; /* Largeur maximale du formulaire */
  margin: 50px auto; /* Centrer le formulaire */
  padding: 20px;
  background-color: #182c35; /* Couleur de fond du formulaire */
  border-radius: 5px; /* Coins arrondis du formulaire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

h1 {
  text-align: center; /* Centrer le titre */
  margin-bottom: 20px; /* Marge inférieure du titre */
}

label {
  font-weight: bold; /* Texte en gras pour les étiquettes */
  color: #fff;
}

.form-control, .form-controll {
  margin-bottom: 20px; /* Marge inférieure pour les champs de formulaire */
  padding: 10px;
}

.btn-primary {
  background-color: #ffae00; /* Couleur de fond du bouton */
  border-color: #ffbb00; /* Couleur de bordure du bouton */
  color: #fff; /* Couleur du texte du bouton */
  padding: 10px 20px; /* Remplissage du bouton */
  font-size: 16px; /* Taille de police du bouton */
}

.error-message {
  color: #dc3545; /* Couleur du texte en cas d'erreur */
  margin-top: 5px; /* Marge supérieure pour les messages d'erreur */
}
</style>
<div class="container mt-4" data-bs-spy="scroll">
  <h1 class="my-5 text-center">Login</h1>

  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="phone_number" class="form-label">Phone Number</label>
      <input type="text" class="form-controll" id="phone_number" name="phone_number" placeholder="+222 00000000">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="**********">
    </div>
    <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" title="Click to login">Login</button>
    <p class="mt-3">Don't have an account? <a href="{% url 'register' %}" data-bs-toggle="tooltip" title="Click to register">Register</a></p>
  </form>
</div>

<script>
  // Initialize Bootstrap tooltips
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

{% endblock content %}
